<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mail Agent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <style>
        table {
            table-layout:fixed;
        }

        table td {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: normal;
        }
        .scrollable {
            max-height: 500px !important;
            overflow-y: scroll;
        }
        textarea {
            resize: none;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">              
                <a href="/" class="navbar-brand">Mail Agent</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)
    <script>
        //validation script
        var validator = $('form').validate({
            rules: {
                email: {
                    email: true,
                    required: true
                },
                user: {
                    minlength: 3,
                    maxlength: 50,
                    required: true
                },
                subject: {
                    minlength: 3,
                    maxlength: 100,
                    required: true
                },
                body: {
                    minlength: 1,
                    maxlength: 1000,
                    required: true
                }
            },
            highlight: function showWarning(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function hideWarning(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    </script>
    <script src="~/Scripts/ng.js"></script>

</body>
</html>
